<h4>search for some museum works!</h4>

<form action="/works" method="GET">
  <label for="search-form">Search by ttile</label>

  <input type="text" id="search-form" name="term" />

  <input type="submit" />
</form>